{% extends "base.html" %} 
{% block title %} Cea Service {% endblock %} 
{% block content %}
<div class="container">

<header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                {% if user.is_authenticated %} 
                <a class="text-muted" href="#">Hi {{ user.email }}!</a>
                {% else %}  
                <p class="text-muted" href="#">You have been logged out!</p>
                {% endif %}
                </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="text-muted" href="#" aria-label="Search">
                </a>
                {% if user.is_authenticated %} 
                <div>{% url 'logout' %}?returnTo={{returnTo}}</div>
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'logout' %}?returnTo={{returnTo}}">Log out</a>
                {% else %}
                <a class="btn btn-sm btn-outline-secondary ml-2" href="{% url 'login' %}">Login</a>
                <a class="btn btn-sm btn-outline-secondary ml-2" href="{% url 'signup' %}">Sign up</a>
                <a class="btn btn-sm btn-outline-secondary ml-2" href="{% url 'password_reset' %}">Forgot password</a>
                {% endif %}
            </div>
            </div>
        </header>

</div>
{% endblock content %}
