body {
    font-family: "proxima-nova", sans-serif;
    text-align: center;
    font-size: 300%;
    font-weight: 100;
    background-color: rgb(241, 247, 254);
}
pre {
    text-align: left;
}
input[type="checkbox"],
input[type="radio"] {
    position: absolute;
    opacity: 0;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
    display: inline-block;
}
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    content: "";
    display: inline-block;
    vertical-align: -0.2em;
    width: 1em;
    height: 1em;
    border: 0.15em solid #0074d9;
    border-radius: 0.2em;
    margin-right: 0.3em;
    background-color: white;
}
input[type="radio"] + label:before {
    border-radius: 50%;
}
input[type="radio"]:checked + label:before,
input[type="checkbox"]:checked + label:before {
    background-color: #0074d9;
    box-shadow: inset 0 0 0 0.15em white;
}
input[type="radio"]:focus + label:before,
input[type="checkbox"]:focus + label:before {
    outline: 0;
}
.btn {
    font-size: 70%;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 0;
    background-color: rgb(241, 247, 254);
    color: black;
    border: 2px solid black;
}
.btn:hover {
    background-color: rgb(62, 74, 132);
}
.btn:focus {
    outline: none !important;
}
.btn.btn-lg {
    padding: 15px 50px;
}
.btn:disabled {
    background-color: #333;
    color: #666;
}
h1,
h2,
h3 {
    font-weight: 100;
}
#logo img {
    width: 300px;
    margin-bottom: 60px;
}
.home-description {
    font-weight: 100;
    margin: 100px 0;
}
h2 {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 150%;
}
label {
    font-size: 100%;
    font-weight: 300;
}
.btn-next {
    margin-top: 30px;
}
.answer {
    width: 70%;
    margin: auto;
    text-align: left;
    padding-left: 10%;
    margin-bottom: 20px;
}
.login-page .login-box {
    padding: 100px 0;
}
