* {
    font-family: "Poppins";
}

.center {
    text-align: center;
}

.sec-2 input {
    width: 80%;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dde5f4;
    height: 100vh;
}

p {
    text-align: center;
    color: #4d4d4d;
    padding: 0;
    margin: 0;
}

.screen-1 {
    background: #f1f7fe;
    padding: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0 0 2em #e6e9f9;
    gap: 1.5em;
}
.screen-1 .logo {
    padding-top: 4em;
    margin-left: auto;
    margin-right: auto;
}
.screen-1 .email {
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: #4d4d4d;
    margin-top: -3em;
    margin-bottom: 2em;
}
.screen-1 .email input {
    outline: none;
    border: none;
}
.screen-1 .email input::-moz-placeholder {
    color: black;
    font-size: 0.9em;
}
.screen-1 .email input:-ms-input-placeholder {
    color: black;
    font-size: 0.9em;
}
.screen-1 .email input::placeholder {
    color: black;
    font-size: 0.9em;
}
.screen-1 .email ion-icon {
    color: #4d4d4d;
    margin-bottom: -0.2em;
}
.screen-1 .password {
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: #4d4d4d;
    margin-bottom: 2em;
}
.screen-1 .password input {
    outline: none;
    border: none;
}
.screen-1 .password input::-moz-placeholder {
    color: black;
    font-size: 0.9em;
}
.screen-1 .password input:-ms-input-placeholder {
    color: black;
    font-size: 0.9em;
}
.screen-1 .password input::placeholder {
    color: black;
    font-size: 0.9em;
}
.screen-1 .password ion-icon {
    color: #4d4d4d;
    margin-bottom: -0.2em;
}
.screen-1 .password .show-hide {
    margin-right: -5em;
}
.screen-1 .button {
    padding: 1em;
    width: 100%;
    background: #3e4684;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.screen-1 .footer {
    display: flex;
    font-size: 0.7em;
    color: #5e5e5e;
    gap: 14em;
    padding-bottom: 8em;
}
.screen-1 .footer span {
    cursor: pointer;
}

.column {
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    gap: 2;
}

.mb-2 {
    margin-bottom: 1em;
}

.background2 {
    background: #5e5e5e !important;
}

.black-text {
    color: #3e4684;
}

button {
    cursor: pointer;
}
