{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
          <h2>Login to Ceau  {{tenant.login_template}}</h2>
    </div>
      <!-- Login Form -->
      <form method="post">
        {% csrf_token %}
        {{ form.username.errors }}
        <input type="text" id="login" class="fadeIn second" name="username" id="id_username" placeholder="Email">
        {{ form.password.errors }}
        <input type="password" id="password" class="fadeIn third" name="password" id="id_password" placeholder="Password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>

      {% comment %} <form method="post">
        {{ form.as_p }}
        <button class="btn btn-sm btn-outline-secondary ml-2" type="submit">Login</button>
        <a class="btn btn-sm btn-outline-secondary ml-2" href="{% url 'send-otp' %}">Login with OTP</a>
        <a class="btn btn-sm btn-outline-secondary ml-2" href="{% url 'signup' %}">Sign up</a>
        <a class="btn btn-sm btn-outline-secondary ml-2" href="{% url 'password_reset' %}">Reset password</a>
        </form> {% endcomment %}
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>


    
{% endblock %}