{% extends 'base.html' %}
{% block title %}Login OTP{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="center">
    <h1>Login with email OTP</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-sm btn-outline-secondary ml-2" type="submit">Login</button>
        <a class="btn btn-sm btn-outline-secondary ml-2" href="{% url 'send-otp' %}">Send again</a>
        <a class="btn btn-sm btn-outline-secondary ml-2" href="{% url 'signup' %}">Sign up</a>
    </form>
    </div>
</div>
{% endblock %}