{% extends "base.html" %}

{% block title %}Forgot your password{% endblock title %}

{% block content %}

<!--Password Reset Complete-->
<div class="container p-4">
    <h2 class="font-weight-bold mt-3">Password reset complete</h2>
    <hr>
    <p>Your password has been set. You may go ahead and log in now.</p>                 
    <a href="/login" class="btn btn-sm btn-outline-secondary ml-2">Log in</a>
</div>

{% endblock content %}