{% extends "base.html" %}

{% block title %}Forgot your password{% endblock title %}

{% block content %}

<div class="container p-5">
    <h2 class="font-weight-bold mt-3">Forgot your password</h2>
    <hr>
    <p>Enter your email address below</p>
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-sm btn-outline-secondary ml-2" type="submit" value="Send me instructions">Send me instructions</button>
        <a class="btn btn-sm btn-outline-secondary ml-2" href="{% url 'profile' %}">Back</a>
    </form>
</div>

{% endblock content %}