{% extends "base.html" %}

{% block title %}Forgot your password{% endblock title %}

{% block content %}

<!--Password Reset Confirm-->
<div class="container p-5">
    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
    <hr>
    <p>Please enter your new password.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}                    
        <button class="btn btn-sm btn-outline-secondary ml-2" type="submit">Reset password</button>
    </form>
</div>

{% endblock content %}