{% extends 'base.html' %}
{% block title %}Send OTP{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="center">
    <h1>Send OTP</h1>
    <form method="post">
        {% csrf_token %}
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <button class="btn btn-sm btn-outline-secondary ml-2" type="submit">Send</button>
        <a class="btn btn-sm btn-outline-secondary ml-2" href="{% url 'login-otp' %}">Login with OTP</a>
        <a class="btn btn-sm btn-outline-secondary ml-2" href="{% url 'login' %}">Login with Password</a>
    </form>
    </div>
</div>
{% endblock %}