{% extends "base.html" %} 

{% block title %}Sign Up{% endblock title %} 

{% block content %}
<div class="container p-5">
    <div class="center">    
        <h2 class="font-weight-bold mt-3">Sign up</h2>
        <hr>
    <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-sm btn-outline-secondary ml-2" type="submit">Sign up</button>
    </form>
    </div>
</div>
{% endblock content %}
