{% extends "base.html" %}
{% block header %}
<header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="text-muted" href="#">Hi {{ user.username }}!</a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark ch" href="{% url 'home' %}">Blog</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="text-muted" href="#" aria-label="Search">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
        </a>
        {% if user.is_authenticated %} 
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'logout' %}">Log out</a>
        {% else %}
        <a class="btn btn-sm btn-outline-secondary ml-2" href="{% url 'login' %}">Login</a>
        <a class="btn btn-sm btn-outline-secondary ml-2" href="{% url 'signup' %}">Sign up</a>
        <a class="btn btn-sm btn-outline-secondary ml-2" href="{% url 'password_reset' %}">Reset password</a>
        {% endif %}
      </div>
    </div>
</header>
{% endblock %}