{% extends 'layout.html' %}

{% block content %}
<div class="login-page clearfix">
    <div class="logged-in-box auth0-box logged-in">
        <h1 id="logo"><img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/269241613_653935502431713_1959686117153435868_n.png?_nc_cat=106&ccb=1-5&_nc_sid=aee45a&_nc_ohc=8L3MKuvIglcAX-dONhB&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVIJQNAXIyfqtqkLNrHcTnv6SQtBtbLkdda5pHyqnonbEQ&oe=61E68C41" /></h1>
        <p>ACCESS TOKEN: </p>
        <pre>{{ accesstoken }}</pre>
        <p>ID TOKEN: </p>
        <pre>{{ idtoken }}</pre>
        <h2>Welcome {{ user.email }}</h2>
        <pre>{{ userdata }}</pre>
        <a id="qsLogoutBtn" class="btn btn-primary btn-lg btn-logout" href="/logout">Logout</a> 
    </div>
</div>
{% endblock content %}