{% extends 'layout.html' %}

{% block content %}
    <div class="login-page clearfix">
        <div class="login-box auth0-box before">
            <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/269241613_653935502431713_1959686117153435868_n.png?_nc_cat=106&ccb=1-5&_nc_sid=aee45a&_nc_ohc=8L3MKuvIglcAX-dONhB&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVIJQNAXIyfqtqkLNrHcTnv6SQtBtbLkdda5pHyqnonbEQ&oe=61E68C41"  width="250"/>
            <h3><b>CEAU Example<b></h3>
            <h2><b>Built for developers<b></h2>
            <a id="qsLoginBtn" class="btn btn-primary btn-lg btn-login" href="/login/CEAU"><b>Log In<b></a>
        </div>
    </div>
{% endblock content %}
